*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    font-family:'Merienda', cursive;
    color:white;
}

/* header */

header{
    background:#720101;
    border:20px solid #4b0000;

    display:flex;
    justify-content:space-around;
    align-items:center;

    padding:20px;
}

.titulo h1{
    color:white;
    font-family:'Permanent Marker', cursive;
    font-size:3rem;

    text-shadow:
    -3px -3px 0 #000,
     3px -3px 0 #000,
    -3px  3px 0 #000,
     3px  3px 0 #000;
}

header img{
    width: 200px;
    height: 200px;;

    object-fit:cover;

    border:4px solid #111;
    border-radius:10px;
}

/* main */

main{
    display:flex;
    min-height:calc(100vh - 200px)
}

/* textos e akvfyia */

.conteudo{
    flex:1;

    padding:20px;

    background:#4b0000;
}

/*textos*/

.card{
    background:#08141b;

    padding:20px;

    margin-bottom:20px;



    font-size:1.3rem;
    line-height:1.6;
}

.link{
    color:#4ea3ff;
    font-weight:bold;
}

/* álbuns e ftyrtffh */

.albums{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:20px;
}

.albums img{
    width:100%;

    object-fit:cover;

    border-radius:10px;

    transition:.2s;
}

.albums img:hover{
    transform:scale(1.05);
}

.albums2{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:20px;
}

.albums2 img{
    width:100%;
    aspect-ratio:1/1;

    object-fit:cover;

    border-radius:10px;

    transition:.2s;
}

.albums2 img:hover{
    transform:scale(1.05);
}


@media(max-width:800px){

    header{
        flex-direction:column;
        gap:20px;
    }

    .titulo h1{
        font-size:2rem;
        text-align:center;
    }

    main{
        flex-direction:column;
    }

    aside{
        width:100%;
    }

    .menu-item{
        padding:15px;
    }

    .card{
        font-size:1rem;
    }
}