*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    font-family:'Merienda', cursive;
}

header{
    background:#b30000;
    border:8px solid #8b0000;

    display:flex;
    justify-content:space-around;
    align-items:center;

    padding:15px;
}

.titulo h1{
    color:white;
    font-family:'Permanent Marker', cursive;

    font-size:3rem;

    text-shadow:
    -3px -3px 0 black,
     3px -3px 0 black,
    -3px  3px 0 black,
     3px  3px 0 black;
}

header img{
    width:150px;
    height:150px;

    object-fit:cover;

    border:3px solid #111;
}

main{
    display:flex;
}

aside{
    background:#ece4e4;
    width: 100px;

    display:flex;
    flex-direction:column;
}

.menu-item{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    font-weight:bold;
    font-size:1.2rem;

    letter-spacing:3px;

    border-bottom:2px solid #bbb;
}

.conteudo{
    flex:1;

    background:#04131a;

    padding:10px;
}

.card{
    background:#08141b;

    color:white;

    padding:15px;

    margin-bottom:12px;

    font-size:1.6rem;
}

.link{
    color:#4ea3ff;
}

.albums{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(120px,1fr));

    gap:15px;
}

.albums img{
    width:100%;
    height:120px;

    object-fit:cover;

    transition:.2s;
}

.albums img:hover{
    transform:scale(1.05);
}

@media(max-width:800px){

    header{
        flex-direction:column;
        gap:20px;
    }

    .titulo h1{
        font-size:2rem;
        text-align:center;
    }

    main{
        flex-direction:column;
    }

    aside{
        width:100%;
        flex-direction:row;
    }

    .menu-item{
        padding:10px;
    }

    .card{
        font-size:1.1rem;
    }
}